modules = ["nodejs-20", "python-3.12", "web"]
run = "bash replit-run.sh"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "bash replit-run.sh"]
deploymentTarget = "gce"

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80
